<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/chat.css" />
    <link rel="stylesheet" href="../css/homepage.css" />
    <link rel="stylesheet" href="../css/lobby.css" />
    <link rel="stylesheet" href="../css/game.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <script src="/scripts/chat.js" defer></script>
    <script src="/scripts/games.js" defer></script>
  
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/auth/logout">Logout</a>
    </div>
    <input type="hidden" name="room-id" id="room-id" value="<%= roomId %>"></input>
    <div class="grid">
        <input
            type="hidden"
            name="game-socket-id"
            id="game-socket-id"
            value="<%= gameSocketId %>" />
        <h2><%= user.username %></h2>
        <% if (!is_initialized.initialized) { %>
          <button id="start" value="<%= id %>">Start the Game</button>
        <% } %>   

    <input
          <% if (is_initialized.initialized) { %>
            <h1>Game <%= id%> started</h1>
          <% } %> 
          <section id="game-board">
            <form method="post" action="/game/<%= id %>/hold" id="hold-form">
              <button type="submit">Hold</button>
            </form>
            <form method="post" action="/game/<%= id %>/call" id="call-form">
              <button type="submit">Call</button>
            </form>
            <form method="post" action="/game/<%= id %>/bet" id="bet-form">
              <button type="submit">Bet</button>
            </form>
            <form method="post" action="/game/<%= id %>/fold" id="fold-form">
              <button type="submit">Fold</button>
            </form>
    
            <div class="hand dealer"></div>
            <div class="hand player-one-hand"></div>
            <div class="status"></div>

          </section>
          <input
          type="hidden"
          name="game-socket-id"
          id="game-socket-id"
          value="<%= gameSocketId %>" />
          <input
          type="hidden"
          name="user-socket-id"
          id="user-socket-id"
          value="<%= userSocketId %>"
      />     
    </div>

    <div class="body-container">
        <div class="chat-container">
            <h2 class = "chat-title">Chat</h2>
            <article id="chat-window"></article>
            <div class="message-input">
              <input
              type="text"
              name="message"
              id="message"
              placeholder="Message"/>
            </div>
        </div>

        <div class="game-container">
            <!-- Your existing game content goes here -->
        </div>
    </div>
</body>
</html>
