<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <link rel="stylesheet" href="../css/chat.css" />
  <link rel="stylesheet" href="../css/homepage.css" /> -->
  <link rel="stylesheet" href="../css/game.css" />
  <link rel="stylesheet" href="../css/authpage.css" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Play</title>
  <script src="/scripts/chat.js" defer></script>
  <script src="/scripts/games.js" defer></script>
  <script src="/scripts/fade.js" defer></script>
</head>


<body>
    <a href="/">
      <img
        class="titleLogo center"
        src="https://i0.wp.com/golflakeridge.com/wp-content/uploads/2017/09/Texas_Hold_em_Logo_000.png?fit=763%2C1030&ssl=1"
        height="140"
        alt="Title Logo"
        style="padding-left: 50px;" 
        style="padding-top: 40px;"
        />
    </a>
 
  <input type="hidden" name="room-id" id="room-id" value="<%= roomId %>"></input>
  <h2 class="username">
    <%= user.username %>
  </h2>
  <div class="grid">
    <% if (!is_initialized.initialized) { %>
      <button id="start" value="<%= id %>">Start the Game</button>
      <% } %>
        <section id="game-board">
          <!-- Add inline style to the "cards" class -->
          <div class="turn">Current Player's Turn: </div>
          <div class="round">Round: </div>
          <div class="pot">Game Pot: </div>
          <div class="playerChips">Player Chips: </div>
          <div class="bet">Minimum Bet: </div>
          <div class="hand dealer"></div>
          <div class="hand player-hand"></div>
          <div id="errorContainer" class="error-container" style="color: red; background-color: white;"></div>
          <div class="generalMessages" style="color: blueviolet; background-color: white;"></div>

          <div class="game-buttons">
            <form method="post" action="/game/<%= id %>/hold" id="hold-form">
              <button type="submit">Hold</button>
            </form>
            <form method="post" action="/game/<%= id %>/call" id="call-form">
              <button type="submit">Call</button>
            </form>
            <form method="post" action="/game/<%= id %>/bet" id="bet-form">
              <input name="bet-amount" id="bet-amount" required>
              <button type="submit">Bet</button>
            </form>
            <form method="post" action="/game/<%= id %>/fold" id="fold-form">
              <button type="submit">Fold</button>
            </form>
          </div>


        </section>
        <input type="hidden" name="game-socket-id" id="game-socket-id" value="<%= gameSocketId %>" />
        <input type="hidden" name="user-socket-id" id="user-socket-id" value="<%= userSocketId %>" />
  </div>
  <div class="chat-container">
    <h2 class="chat-title">Chat</h2>
    <article id="chat-window"></article>
    <div class="message-input">
      <input type="text" name="message" id="message" placeholder="Message" />
    </div>
  </div>
  <template id="card">
    <div class="card"></div>
  </template>
</body>

</html>