<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="../css/chat.css" />
    <link rel="stylesheet" href="../css/lobby.css" /> -->
    <link rel="stylesheet" href="../css/authpages.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/scripts/chat.js" defer></script>
    <script src="/scripts/games.js" defer></script>
    <script src="/scripts/lobby.js" defer></script>
    <script src="/scripts/user_profile.js" defer></script>
</head>

<body>
    <div class="topnav">
      <a href="/">
        <img
          class="titleLogo center"
          src="https://static-00.iconduck.com/assets.00/arrow-left-icon-512x357-pi5vmh11.png"
          width="120"
          height="70"
          alt="Title Logo"
        />
      </a>
      <span class="active">Back To Homepage</span>
    </div>
    <div class="logout">
        <a class = "logout" href="/auth/logout">LOGOUT</a>
    </div>
    <h1 class="lobbyTitle">Lobby</h1>
    <div class="block">
        <!--<h2 ><%= user.username %></h2>
        <a href="/user_profile"> <%= user.username %></a>-->

        <div class="play-container">
            <a href="/profile/:id">
              <button  href="/profile/:id" class="button"><%= user.username %></button>
            </a>
        
        <input type="hidden" name="room-id" id="room-id" value="<%= roomId %>"></input>
        <section id="game-list">
            <h2>Current Games</h2>
            <section id="my-game-list" data-user="<%= user.id %>">
                <ul class="lobul">
                    <div class="lobby-item">
                    <% currentGames.forEach(game => { %>
                    <li >
                        <a class="lobby-item" href="/game/<%= game.id %>/join">Join <%= game.id %></a>
                    </li>
                    <% }) %>
                </div>
            
            </section>
        </section>
        <form action="/game/create" method="get">
            <button type="submit" class="submitbtn">CREATE GAME</button>
        </form>
    </div>
</body>
</html>