<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/chat.css" />
    <link rel="stylesheet" href="../css/lobby.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/scripts/chat.js" defer></script>
    <script src="/scripts/games.js" defer></script>
    <script src="/scripts/lobby.js" defer></script>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a> 
        <a href="/user_profile"><%= user.username %></a>
        <a href="/auth/logout">Logout</a>
    </div>
    <h1 class="lobbyTitle">Lobby</h1>
    <div class="block">
        <h2><%= user.username %></h2>
        <input type="hidden" name="room-id" id="room-id" value="<%= roomId %>"></input>
        <section id="game-list">
            <h2>Current Games</h2>
            <section id="my-game-list" data-user="<%= user.id %>">
                <ul>
                    <% currentGames.forEach(game => { %>
                    <li>
                        <a href="/game/<%= game.id %>/join">Join <%= game.id %></a>
                    </li>
                    <% }) %>
                </ul>
            </section>
        </section>
        <form action="/game/create" method="get">
            <button type="submit">Create Game</button>
        </form>
    </div>
</body>
</html>
